<div class="card shadow-sm border-0 mb-4">
  <div class="card-body">
    <h1 class="card-title text-black fw-bold mb-3">{{postagem.titulo}}</h1>
    <p class="text-muted mb-4">
      <small><i class="bi bi-calendar-event"></i> Publicado em: {{postagem.data}}</small>
    </p>
    <hr class="mb-4" />
    <p class="card-text fs-5">{{postagem.conteudo}}</p>
  </div>
</div>
